/* Reset default box-sizing */
* {
    box-sizing: border-box;
}

/* Base styles */
body {
    margin: 0;
    font-family: "Roboto", Tahoma, Verdana, sans-serif;
    color: #222;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    color: #222;
    background-color: #fff;
    height: 60px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h3 {
    font-size: 1em;
}

.logo {
    margin-right: 10px;
}

/* Navigation styles */
nav {
    display: block;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px #222;
    background-color: #fff;
    transition: all .5s ease-in-out;
    z-index: 99;
}

nav.open {
    top: 60px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    transition: background-color 0.3s ease;
}

nav li:hover {
    background-color: #edebeb;
}

nav li a {
    display: block;
    text-decoration: none;
    color: #222;
    padding: 2em 0.8em;
}

.menu-btn {
    background-color: transparent;
    width: 40px;
    border: none;
}

/* Section One styles */
.section-one {
    position: relative;
    background-image: url("images/background2.jpg");
    background-position: center;
    background-size: cover;
    height: calc(100vh - 60px);
}

.main-content {
    padding: 2rem;
    color: #fff;
}

.date {
    font-size: 0.8rem;
}

.main-content h1 {
    font-size: 7vw;
}

.blogs-container {
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.blog {
    flex-basis: 300px;
    flex-grow: 1;
}

.blog img {
    width: 100%;
}

/* Footer styles */
footer {
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: #222;
    color: #fff;
}

.about-content {
    padding: 2rem;
}

.about-content img {
    width: 170px;
    border-radius: 50%;
}

.title {
    font-weight: 600;
}

/* Media Queries */
@media (min-width: 768px) {
    .section-one {
        height: calc(100vh - 60px);
    }

    .main-content {
        width: 65vw;
        position: absolute;
        bottom: 0;
    }

    .main-content p {
        font-size: 1.25rem;
    }

    .main-content .date {
        font-size: 1rem;
    }

    .main-content h1 {
        font-size: 2.5rem;
    }

    .menu-btn {
        display: none;
    }

    nav.open, nav {
        box-shadow: none;
        width: initial;
        position: relative;
        top: 0;
        left: 0;
    }

    nav ul li {
        display: inline-block;
    }

    nav li a {
        padding: 1em;
    }

    .main-info {
        display: flex;
        align-items: center;
        gap: 3em;
        margin: 3em 0;
    }
}
